@model List<Issue_Tracking_App.Models.IssueViewModel>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    .container{
        margin-top: 60px;
    }
</style>

@if (!String.IsNullOrEmpty(ViewBag.DeleteMessage))
{

    <div id="deleteAlert" class="alert alert-danger " role="alert">
        @ViewBag.DeleteMessage
    </div>
}

@if (!String.IsNullOrEmpty(ViewBag.EditMessage))
{

    <div id="editAlert" class="alert alert-success " role="alert">
        @ViewBag.EditMessage
    </div>
}



@if (!String.IsNullOrEmpty(ViewBag.AddNewIssue))
{

    <div id="issueAlert" class="alert alert-success " role="alert">
        @ViewBag.AddNewIssue
    </div>
}

<script>

    $(document).ready(function () {
        setTimeout(function () {

            $('#deleteAlert').alert('close');
            $('#editAlert').alert('close');
            $('#issueAlert').alert('close');

        }, 1000);
    });

</script>

    <div class="container">
       
<h2>ALL ISSUES</h2>


<table class="table table-bordered table-striped">
    <thead>
        <tr>

            <th>Summary</th>
            <th>Status</th>
            <th>EstimateTime</th>
            <th>Date</th>
            <th>Created</th>
            <th>Assignee</th>
            <th>Severity</th>
            <th>Actions</th>
            
        </tr>
    </thead>

      
    
    <tbody>
        
          @foreach(var issue in Model.OrderByDescending(s => s.IssueId))
          {
            <tr>

                <td>@issue.Summary</td>
                <td>@issue.StatusName</td>
                <td>@issue.EstimatedTime</td>
                <td>@issue.DateTimePicker</td>
                <td>@issue.Created</td>
                <td>@issue.AssigneeName</td>
                <td>@issue.SeverityName</td>
                <td>

                    <a class="btn btn-primary" type="submit" asp-controller="Tracking" asp-action="Edit" asp-route-id="@issue.IssueId">Edit</a>

                    <a class="btn btn-danger ms-3 delete-button"  href="@Url.Action("Delete","Tracking", new{ id= issue.IssueId})" 
                        onclick="return confirm('Are you sure you want to delete this issue')">Delete</a>
                    
                </td>
            </tr>

          }
       
    </tbody>

</table>

</div>  







